---
---

// Load the theme
@import "minimal-mistakes/skins/default"; // or your chosen skin
@import "minimal-mistakes";

// Your overrides
.author__avatar { width: 240px !important; }
.author__avatar img { width: 100% !important; height: auto !important; border-radius: 50% !important; object-fit: cover; }
