---
---

// Load the theme
@import "minimal-mistakes/skins/default"; // or your chosen skin
@import "minimal-mistakes";

// Your overrides
.author__avatar { width: 220px; /* Adjust the value to your desired width */
height: 220px; /* Adjust the value to match the width */
max-width: 260px; /* Optional: Set a maximum width */
border-radius: 50%; /* Optional: Make the avatar circular */
padding: 5px; /* Optional: Add padding around the avatar */
border: 1px solid $border-color; /* Optional: Add a border */
 }
.author__avatar img { width: 220px; /* Adjust the value to your desired width */
height: 220px; /* Adjust the value to match the width */
max-width: 260px; /* Optional: Set a maximum width */
border-radius: 50%; /* Optional: Make the avatar circular */
padding: 5px; /* Optional: Add padding around the avatar */
border: 1px solid $border-color; /* Optional: Add a border */
 }
